@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenida</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewBag.Mensaje</p>
<p>@ViewBag.Nombre</p>
<p>@ViewBag.Edad</p>
<table border="1px solid black">
@foreach ( var cadena in ViewBag.lista1)
{
    <tr><td>@cadena</td></tr>
}
</table>
@ViewBag.Persona.Dni
@ViewBag.Persona.Nombre
@ViewBag.Persona.Apellidos
</div>
